<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-md-2" *ngIf="isAuthenticated()">
            <div class="vsm-logo-wrapper">
                <a class="navbar-brand" href="/clinical-configuration">
                    <div class="vsm-logo-small"></div>
                </a>
            </div>

            <ul class="nav flex-column nav-sidebar">
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active" routerLink="/clinical-configuration">
                        <span class="vsm-configuration-icon"></span>
                        <span class="vsm-icon-text">Clinical Configuration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">
                        <span class="vsm-logout-icon"></span>
                        <span class="vsm-icon-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 vsm-content" [ngClass]="{'offset-md-2': isAuthenticated(), 'offset-md-1': !isAuthenticated()}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

