<div class="card">
    <div class="card-block">

        <!--<p *ngIf="pageLoadingComplete">Form value: {{ facilityForm.value | json }}</p>
        <p *ngIf="pageLoadingComplete">Form status: {{ facilityForm.status | json }}</p>-->

        <form [formGroup]="facilityForm" *ngIf="pageLoadingComplete" (ngSubmit)="onSubmit()">
            <h3 class="card-title">Facility Configuration</h3>

            <div class="row">
                <div class="col-md-4">
                    <fieldset class="vsm-scheduler-border vsm-padding-bottom-51">
                        <legend>General System Settings</legend>

                        <div class="form-group">
                            <label for="facilityNameInput" class="vsm-label">Facility Name:</label>
                            <input id="facilityNameInput" type="text" class="form-control" formControlName="name"
                                   [ngStyle]="{'border-color': facilityForm.controls['name'].hasError('required') ? 'red': ''}">
                            <span class="error-message" *ngIf="facilityForm.controls['name'].hasError('required')">Required field</span>
                        </div>

                        <div class="form-group">
                            <div class="vsm-checkbox">
                                <input id="adtEnabled" type="checkbox" formControlName="adtEnabled">
                                <label for="adtEnabled" class="vsm-label blue">&nbsp;ADT Enabled</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nonAdtEnabledLabel" class="vsm-label">Non ADT Required Field Label:</label>
                            <input id="nonAdtEnabledLabel" type="text" class="form-control" formControlName="nonAdtRequiredFieldLabel">
                        </div>

                        <div class="form-group">
                            <div class="vsm-checkbox">
                                <input id="temperatureDisplay" type="checkbox" formControlName="temperatureDisplay">
                                <label for="temperatureDisplay" class="vsm-label blue">&nbsp;Temperature Display:</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="temperatureUnitsOfMeasureSelect" class="vsm-label">Temperature Units Of Measure:</label>
                            <select id="temperatureUnitsOfMeasureSelect" class="form-control" formControlName="temperatureUnitsOfMeasure">
                                <option *ngFor="let option of temperatureUnitOptions" [ngValue]="option.name">{{option.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="vsm-checkbox">
                                <input id="respirationDisplay" type="checkbox" formControlName="respirationDisplay">
                                <label for="respirationDisplay" class="vsm-label blue">&nbsp;Respiration Display:</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="bloodPressureUnitsOfMeasureSelect" class="vsm-label">Blood Pressure Units Of Measure:</label>
                            <select id="bloodPressureUnitsOfMeasureSelect" class="form-control" formControlName="bloodPressureUnitsOfMeasure">
                                <option *ngFor="let option of bloodPressureUnitOptions" [ngValue]="option.name">{{option.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dateFormatSelect" class="vsm-label">Date Format:</label>
                            <select id="dateFormatSelect" class="form-control" formControlName="dateFormat">
                                <option *ngFor="let option of dateFormatOptions" [ngValue]="option.name">{{option.alias}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="timeFormatSelect" class="vsm-label">Time Format:</label>
                            <select id="timeFormatSelect" class="form-control" formControlName="timeFormat">
                                <option *ngFor="let option of timeFormatOptions" [ngValue]="option.name">{{option.alias}}</option>
                            </select>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-4">
                    <fieldset class="vsm-scheduler-border">
                        <legend>RVD Settings</legend>

                        <div class="form-group">
                            <label for="rvdAdminPinCodeInput" class="vsm-label">Admin Pin Code:</label>
                            <input id="rvdAdminPinCodeInput" type="text" class="form-control" formControlName="rvdAdminPinCodeValue"
                                   [ngStyle]="{'border-color': facilityForm.controls['rvdAdminPinCodeValue'].hasError('pinCodeMismatch') ? 'red' : ''}">
                            <span class="error-message" *ngIf="facilityForm.controls['rvdAdminPinCodeValue'].hasError('pinCodeMismatch')">
                                Field should be a number of 4 to 8 digits</span>
                        </div>

                        <div class="form-group">
                            <label for="accessTimeoutSelect" class="vsm-label">Access Timeout:</label>
                            <select id="accessTimeoutSelect" class="form-control" formControlName="accessTimeout">
                                <option *ngFor="let option of accessTimeoutOptions" [ngValue]="option.name">{{option.alias}}</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="vsm-scheduler-border">
                        <legend>ViSi Monitor Settings</legend>

                        <div class="form-group">
                            <label for="filterFrequencySelect" class="vsm-label">ECG Line Noise Filter:</label>
                            <select id="filterFrequencySelect" class="form-control" formControlName="filterFrequency">
                                <option *ngFor="let option of noiseFrequencyOptions" [ngValue]="option.name">{{option.alias}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="screenTimeoutSelect" class="vsm-label">Screen Timeout:</label>
                            <select id="screenTimeoutSelect" class="form-control" formControlName="screenTimeout">
                                <option *ngFor="let option of screenTimeoutOptions" [ngValue]="option.name">{{option.alias}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="customDelaySelect" class="vsm-label">Custom Delay:</label>
                            <select id="customDelaySelect" class="form-control" formControlName="customDelay">
                                <option *ngFor="let option of customDelayOptions" [ngValue]="option.name">{{option.alias}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="vsm-checkbox">
                                <input id="clinicianPinCode" type="checkbox" #clinicianControl (change)="toggleClinicianInput(clinicianControl.checked)">
                                <label for="clinicianPinCode" class="vsm-label blue">&nbsp;Clinical Authentication:</label>
                            </div>
                            <input id="clinicianPinCodeValueInput" type="text" class="form-control" formControlName="clinicianPinCodeValue">
                        </div>
                    </fieldset>

                    <fieldset class="vsm-scheduler-border">
                        <legend>Alarm Settings</legend>

                        <div class="form-group">
                            <div class="vsm-checkbox">
                                <input id="arrhythmiaAlarmsEnabled" type="checkbox" formControlName="arrhythmiaAlarmsEnabled">
                                <label for="arrhythmiaAlarmsEnabled" class="vsm-label blue">&nbsp;Arrhythmia Alarms Enabled</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="vsm-checkbox">
                                <input id="postureAlarmsEnabled" type="checkbox" formControlName="postureAlarmsEnabled">
                                <label for="postureAlarmsEnabled" class="vsm-label blue">&nbsp;Posture Alarms Enabled</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!facilityForm.valid" *ngIf="facilityExists()">Update</button>
            <button type="submit" class="btn btn-primary" [disabled]="!facilityForm.valid" *ngIf="!facilityExists()">Create</button>
            <button type="button" class="btn btn-primary">Publish</button>
            <button type="button" class="btn btn-primary">PDF</button>
            <button type="button" class="btn btn-primary">Export</button>
        </form>

        <div class="row" [ngStyle]="{'margin-top': '10px'}">
            <fieldset class="vsm-scheduler-border" [ngStyle]="{'margin-left': '15px'}">
                <legend>Location Import</legend>

                <div ng2FileDrop [ngClass]="{'nv-file-over': hasLocationDropOver}"
                    (fileOver)="locationDropOver($event)"
                    [uploader]="locationsUploader"
                    class="vsm-drop-zone">
                    Drop location.csv here
                </div>

                <div *ngIf="locationsCsvFileSelected()">
                    Upload progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': locationsUploader.progress + '%' }"></div>
                    </div>
                </div>

                <table class="table" *ngIf="locationsCsvFileSelected()">
                    <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let uploadItem of locationsUploader.queue">
                            <td>
                                <strong>{{uploadItem?.file?.name}}</strong>
                            </td>
                            <td>
                                <span *ngIf="uploadItem.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span *ngIf="uploadItem.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-primary btn-xs"
                                        (click)="uploadItem.upload()" [disabled]="uploadItem.isReady || uploadItem.isUploading || uploadItem.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" (click)="uploadItem.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

        <div class="row" [ngStyle]="{'margin-top': '10px'}">
            <fieldset class="vsm-scheduler-border" [ngStyle]="{'margin-left': '15px'}">
                <legend>Configuration Upload</legend>

                <div ng2FileDrop [ngClass]="{'nv-file-over': hasConfigurationDropOver}"
                     (fileOver)="configurationDropOver($event)"
                     [uploader]="configurationUploader"
                     class="vsm-drop-zone">
                    Drop configuration.json here
                </div>

                <div *ngIf="configurationJsonSelected()">
                    Upload progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': locationsUploader.progress + '%' }"></div>
                    </div>
                </div>

                <table class="table" *ngIf="configurationJsonSelected()">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let uploadItem of configurationUploader.queue">
                        <td>
                            <strong>{{uploadItem?.file?.name}}</strong>
                        </td>
                        <td>
                            <span *ngIf="uploadItem.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                            <span *ngIf="uploadItem.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-primary btn-xs"
                                    (click)="uploadItem.upload()" [disabled]="uploadItem.isReady || uploadItem.isUploading || uploadItem.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" (click)="uploadItem.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>