<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active">Clinical Configuration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Logout</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 offset-md-2 vsm-content">
            <h3>Facility Configuration</h3>
        </div>
    </div>

    <!--<div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">Clinical configuration</li>
                <li class="nav-item">Logout</li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h3>Facility Configuration</h3>
        </main>
    </div>-->
</div>

