#sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
    background-color: #2d3745;
}

#sidebar a {
    color: #faaa3C;
}

#sidebar ul,
.vsm-content {
    padding: 15px 0 0 15px;
}

fieldset.vsm-scheduler-border {
    border: 1px solid !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.vsm-scheduler-border legend {
    width: auto;
    padding: 0 10px;
}